[submodule "UMATracker-TrackingCorrector"]
	path = UMATracker-TrackingCorrector
	url = https://github.com/UMATracker/UMATracker-TrackingCorrector.git
[submodule "UMATracker-Tracker"]
	path = UMATracker-Tracker
	url = https://github.com/UMATracker/UMATracker-Tracker.git
[submodule "UMATracker-FilterGenerator"]
	path = UMATracker-FilterGenerator
	url = https://github.com/UMATracker/UMATracker-FilterGenerator.git
[submodule "UMATracker-Area51"]
	path = UMATracker-Area51
	url = https://github.com/UMATracker/UMATracker-Area51.git
